[Unit]
Description=Blackbox Exporter
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/blackbox_exporter --web.listen-address=":{{ blackbox_exporter_port }}"
Restart=always

[Install]
WantedBy=multi-user.target
