apiVersion: 1

providers:
  - name: 'MEDW-Auto-Provision'  
    orgId: 1
    folder: 'MEDW-Monitoring'    
    type: file
    disableDeletion: false
    editable: true               
    options:
      path: /var/lib/grafana/dashboards 
