auth_enabled: true

server:
  http_listen_port: {{ loki_port }}
  grpc_listen_port: 9096

common:
  path_prefix: /var/lib/loki  # [수정] 권한 허용된 경로
  storage:
    s3:
      endpoint: {{ loki_s3_endpoint }}
      insecure: true
      bucketnames: {{ loki_s3_bucket }}
      access_key_id: {{ minio_root_user }}
      secret_access_key: {{ minio_root_password }}
      s3forcepathstyle: true
  replication_factor: 1
  ring:
    instance_addr: {{ monitoring_server_ip }}
    kvstore:
      store: memberlist

memberlist:
  join_members: ["{{ monitoring_server_ip }}"]

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: s3
      schema: v13
      index:
        prefix: index_
        period: 24h

limits_config:
  retention_period: 168h
  allow_structured_metadata: true
  reject_old_samples: true
  reject_old_samples_max_age: 168h

compactor:
  working_directory: /var/lib/loki/retention  # [수정] 권한 허용된 경로
  shared_store: s3
  compaction_interval: 10m
  retention_enabled: true
  retention_delete_delay: 2h
  