server:
  http_listen_port: {{ promtail_port | default(9080) }}
  grpc_listen_port: 9097

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://{{ monitoring_server_ip }}:{{ loki_port | default(3100) }}/loki/api/v1/push

scrape_configs:
  - job_name: system_logs
    static_configs:
    - targets: [localhost]
      labels:
        job: system_logs
        host: {{ inventory_hostname }}
        server_group: "{{ group_names[0] if group_names else 'standalone' }}"
        __path__: /var/log/messages
    
    pipeline_stages:
      - regex:
          expression: "(?i)(?P<error_keyword>error|warn|fail|critical|exception|fatal)"
      - labels:
          level: error_keyword
      - drop:
          expression: ".*session opened for user root.*"

  - job_name: secure_logs
    static_configs:
    - targets: [localhost]
      labels:
        job: auth_logs
        host: {{ inventory_hostname }}
        server_group: "{{ group_names[0] if group_names else 'standalone' }}"
        __path__: /var/log/secure
    pipeline_stages:
      - match:
          selector: '{job="auth_logs"} |= "Failed"'
          stages:
            - static_labels:
                level: error
