global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:{{ prometheus_port | default(9090) }}']

  - job_name: 'medw-targets'
    static_configs:
      - targets:
{% for host in groups['targets'] %}
          - '{{ hostvars[host].ansible_host | default(host) }}:{{ node_exporter_port | default(9100) }}'
{% endfor %}

  - job_name: 'promtail'
    static_configs:
      - targets: ['localhost:{{ promtail_port | default(9080) }}']

  - job_name: 'medw-web-uptime'
    metrics_path: /probe
    params:
      module: [{{ blackbox_module | default('http_2xx') }}]
    static_configs:
      - targets:
          - 'http://{{ load_balancer_external_ip }}'
{% for host in groups['web'] %}
          - 'http://{{ hostvars[host].ansible_host | default(host) }}'
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: '{{ monitoring_server_ip }}:{{ blackbox_exporter_port | default(9115) }}'
